.about__container,
.info__list,
.stats,.resume__container{
grid-template-columns: repeat(2,1fr);
align-items: flex-start;
}
.info__list{
    row-gap: 1.25rem;
    margin-bottom: 2rem;
}
.section__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 1.25rem;
}
.info__list .info__title,
.info__list .info__description{
    font-size: var(--small-font-size);
}
.info__list .info__description{
    color: var(--title-color);
    font-weight: var(--weight-600);
}
.stats__box{
    border: 1px solid var(--border-color);
    padding: .9375rem 1.5625rem 1.25rem;
    border-radius: .3125rem;
}
.stats__no{
    color: var(--first-color);
    font-size: var(--h1-font-size);
    line-height: 1.2;
}
.stats__title{
    font-size: var(--small-font-size);
    line-height: 1.5;
    padding-left: 2.8125rem;
    position: relative;
}
.stats__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 1.875rem;
    height: .0625rem;
    background-color: var(--text-color);

}
.separator{
    border-top: 1px solid var(--border-color);
    max-width: 40%;
    margin: 4.5rem auto 3.5rem;
}
.subtitle__center{
    text-align: center;
    margin-bottom: 3.125rem;
}
.skills__container{
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    row-gap: 3.125rem;
}
.progress__circle{
    height: 9.375rem;
    width: 9.375rem;
}
.CircularProgressbar-path{
    stroke: var(--first-color) !important;
    stroke-linecap: butt !important;

}
.CircularProgressbar-trail{
    stroke: var(--container-color) !important;
}
.CircularProgressbar-text{
    fill: var(--title-color) !important;
    font-family: var(--second-font);
    font-size: var(--large-font-size) !important;
}
.skills__title{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
    text-align: center;
    margin-top: 1.5625rem;
}

.resume__item{
    position: relative;
    padding-left: 3.75rem;
}
.resume__item:not(:last-child){
    margin-bottom: 3.125rem;
}
.resume__item::before{
    content: '';
    position: absolute;
    inset-block: 0;
    left: 1.25rem;
    border-left: 1px solid var(--border-color);
}
.resume__icon{
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--first-color);
    color: var(--text-white);
    width: 2.5rem;
    height: 2.5rem;
    border-radius:50%;
    text-align: center;
    line-height: 2.5rem;
}
.resume__date{
    background-color: var(--container-color);
    padding: .125rem .625rem;
    border-radius: 1.25rem;
    font-size: var(--tiny-font-size);
    font-weight: var(--weight-600);
}
.resume__subtitle{
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    margin-block: 1.25rem .625rem;
}
.resume__subtitle span{
    color: var(--text-color);
    font-family: var(--body-font);
    font-size:var(--small-font-size);
    font-weight: var(--weight-600);
    position: relative;
    padding-left: 1.625rem;
}
.resume__subtitle span::before{
    content: '';
    position: absolute;
    left: .4375rem;
    top: .5625rem;
    width: .625rem;
    height: .125rem;
    background-color: var(--text-color);
}
.resume__description{
    font-size: var(--small-font-size);
    line-height: 1.6;
}
