.home{
    grid-template-columns: 4.32fr 7.68fr;
    align-items: center;
    justify-items: center;
    padding: 2.5rem;
    height: 100vh;
   
}
.home__img{
    
    height: 80%;
    object-fit: cover;
    border-radius: 1.875rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: 1;
}
.home__data{
    max-width: 37.5rem;
    margin-inline: auto;
    padding-top: 1.25rem;
}
.home__title{
    position: relative;
    font-size: var(--h1-font-size);
    line-height: 1.24;
    padding-left: 3.75rem;
}
.home__title span{
    color: var(--first-color);
}
.home__title::before{
    content: '';
    position: absolute;
    left: 0;
    top: 22%;
    width: 2.5rem;
    height: .3125rem;
    border-radius: .625rem;
    background-color: var(--first-color);
}
.home__description{
    line-height: 2.125;
    margin-block: 1rem 2rem;
}
.color__block{
    position: fixed;
    height: 200%;
    width: 100%;
    background-color: #f907fc;
    background-image: linear-gradient(315deg, #f907fc 0%, #05d6d9 74%);
    top: -50%;
    left: -83%;
    transform: rotate(-15deg);
}